.Quote {
   border: 1px solid;
   margin-bottom: 20px;
   padding: 5px 25px 20px;
   text-align: left;
   overflow: hidden;
   background: #63bdff;
   border-radius: 10px;
}
.ButtonsForm {
   text-align: right;
   margin-top: 15px;
}