header {
   overflow: hidden;
   padding-bottom: 30px;
   padding-top: 10px;
   border: 1px solid;
   background: #222;
   border-radius: 3px;
}
.Title {
   float: left;
   margin-left: 30px;
   font-weight: bold;
   color: #9d9d9d;
}
.Buttons {
   margin-right: 20px;
   margin-top: 8px;
}