.AddNewQuote {
   width: 63%;
   display: inline-block;
   margin: 35px auto 0;
   border: 1px solid;
   float: right;
   padding: 15px;
   background: #222;
   border-radius: 10px;
}
.Title {
   color: #c6f8ff;
   float: none;
   text-transform: uppercase;
}